.tools
  .pagewrap
    .sidebar
    .content
      ul
        li
          a(href=links.truffle target="_blank")
            img(src=logos.truffle)
            h3.title Truffle
            p.desc Truffle is the most popular development framework for Ethereum with a mission to make your life a whole lot easier.
        li
          a(href=links.metamask target="_blank")
            img(src=logos.metamask)
            h3.title Metamask
            p.desc MetaMask is a bridge that allows you to visit the distributed web of tomorrow in your browser today. It allows you to run Ethereum dApps right in your browser without running a full Ethereum node.
        li
          a(href=links.remix target="_blank")
            img(src=logos.remix)
            h3.title Remix
            p.desc Remix is an IDE for the smart contract programming language Solidity and has an integrated debugger and testing environment.
        li
          a(href=links.mist target="_blank")
            img(src=logos.mist)
            h3.title Mist
            p.desc The Mist browser is a gateway to decentralized applications on the Ethereum blockchain. It allows you to hold and secure ether and other crypto-assets built on Ethereum, as well as write, deploy and use smart contracts.          
:sass
  .tools{
    .content{
      display: flex;
      justify-content: center;
      align-items: center;
      
       ul {
         display: flex;
         flex-wrap: wrap;
         
         li {
           flex-basis: 50%;
           text-align: center;
           padding: 0;
           max-width: 22rem;
           
           p {
             text-align: left;
           }
           
           a {
            padding: 1rem;
            display: block;
            
             img {
              //  display: block;
               max-width: 8rem;
               max-height: 8rem;
             }
             
             &:hover {
                text-decoration: none;
                background: #ccc;
                border-radius: .5rem;
             }
           }
         }
       }
    }
  }
