.apidocs
  .pagewrap
    .sidebar
      //- section
      //-   h2 
      //-     a(href="#" + docNavLinks.connect)=docNavLinks.connect
      //-   ul
      //- section
      //-   h2 
      //-     a(href="#" + docNavLinks.js)=docNavLinks.js
      //-   ul
      //- section
      //-   h2 
      //-     a(href="#" + docNavLinks.registry)=docNavLinks.registry
      //-   ul
    .content
      .lib(id=docNavLinks.connect)
        section
          h1.lib-header=docNavLinks.connect
          .lib-doc
            include:markdown-it(html) uport-connect-api.md
      .lib(id=docNavLinks.js)
        section
          h1.lib-header=docNavLinks.js
          .lib-doc
            
      .lib(id=docNavLinks.registry)
        section
          h1.lib-header=docNavLinks.registry
          .lib-doc
