.apidocs
  .pagewrap
    .sidebar
      section
        h2 
          a(href="#" + docNavLinks.connect)=docNavLinks.connect
        ul
      section
        h2 
          a(href="#" + docNavLinks.js)=docNavLinks.js
        ul
      section
        h2 
          a(href="#" + docNavLinks.registry)=docNavLinks.registry
        ul
    .content
      section.lib-section(id=docNavLinks.connect)
        h1.lib-header=docNavLinks.connect
        .lib-doc
          include:markdown-it(html) uport-connect-api.md
      section.lib-section(id=docNavLinks.js)
        h1.lib-header=docNavLinks.js
        .lib-doc
          //- DOCS 
      section.lib-section(id=docNavLinks.registry)
        h1.lib-header=docNavLinks.registry
        .lib-doc
          //- DOCS
